List

In [ ]:
#Declaring List.
items= ["Item1", "item2", "item3", "item4"]
print(items)
#Print item at first index.
print(items[0])
#Reintialising the item.
items[0]="Butter"
items[0]
#Printing a range of items.
print(items[0:2])
#Using a negative index.
print(items[-1])
#Appending a new item to the list.
items.append("item5")
print(items)
#Insert at a particular location.
items.insert(1, "insert at two")
print(items)
#Concat two Lists.
items2= ["Item1", "item2", "item3", "item4"]
items3= items+items2
print(items3)
#Length of a list
print(len(items3))
#Using "in" keyword to verify an item in list.
print("butter" in items3)

['Item1', 'item2', 'item3', 'item4']
Item1
['Butter', 'item2']
item4
['Butter', 'item2', 'item3', 'item4', 'item5']
['Butter', 'insert at two', 'item2', 'item3', 'item4', 'item5']
['Butter', 'insert at two', 'item2', 'item3', 'item4', 'item5', 'Item1', 'item2', 'item3', 'item4']
10
False

Using if else

In [ ]:
indian = ["samosa", "daal", "naan"]
chinese  = ["egg roll", "pot stciker", "fired rice"]
italian = ["pizza", "pasta", "risotto"]

dish = input("enter a dish name:")
if dish in indian:
  print("It is an indian dish.")
elif dish in chinese:
  print("It is a chinese dish.")
else:
  print("it is an Italian dish.")

enter a dish name:pasta
it is an Italian dish.

In [ ]:
num= input("Enter a number: ")
num = int(num)
if (num%2)==0:
   print("number is even.")
else:
  print("number is odd.")

Enter a number: 5
number is odd

Implementing  for loop

In [ ]:
exp = [2340, 2500, 2100, 3100, 2980]
total = 0;
for item in exp:
    total = total + item
print(total)

#Printing 1 to 10 using Range.
print("\n")
print("Printing 1 to 10 using Range.")
for i in range(1, 11):
  print(i)

#Working with items  in a range of List.
print("\n")
print("Working with items  in a range of a List.")
total = 0
for i in range(len(exp)):
    print("Month: ",(i+1), 'Expense: ', exp[i])
    total = total + exp[i]
print("Total Expense is: ", total)

  
# Searching Key element using for loop in a list.
print("\n")
print("Searching a key element using a for loop.")
key_location = "chair"
locations = ["garage", "living room", "chair", "closet"]

for i in locations:
  if i == key_location:
    print("key is found in", i+ ".")
    break
  else:
    print("key is not found in", i +  ".")


#Print squares except even numbers.
print("\n")
print("Square in the given range except even numbers.")
for i in range(1, 6):
  if i%2==0:
    continue 
  else:
    print(i*i)

#Using While Life.
print("\n")
print("Printing numbers 1 to 5 using a while loop.")
i = 1
while i<=5:
  print(i)
  i = i+1

13020


Printing 1 to 10 using Range.
1
2
3
4
5
6
7
8
9
10


Working with items  in a range of a List.
Month:  1 Expense:  2340
Month:  2 Expense:  2500
Month:  3 Expense:  2100
Month:  4 Expense:  3100
Month:  5 Expense:  2980
Total Expense is:  13020


Searching a key element using a for loop.
key is not found in garage.
key is not found in living room.
key is found in chair.


Square in the given range except even numbers.
1
9
25


Printing numbers 1 to 5 using a while loop.
1
2
3
4
5

Using Functions

In [ ]:
print("Function to calculate the sum total of items of a list.")
def calculate_total(exp):
  total = 0 
  for item in exp:
    total =  total+ item
  return total

tom_exp = [2100, 3400, 3500]
joe_exp = [200, 500, 700]

tom_total = calculate_total(tom_exp)
joe_total = calculate_total(joe_exp)

print("Tom's total expenses: ", tom_total)
print("Joe's total expenses: ", joe_total)


#Function to print sum of two variables.
print("Function to print sum of two variables.")
def sum(a,b):
  total = a+b
  return total

n = sum(5,6)
print("Total: ", n)

Function to calculate the sum total of items of a list.
Tom's total expenses:  9000
Joe's total expenses:  1400
Function to print sum of two variables.
Total:  11

Dictionaries and Tuple

In [ ]:
#Dictionary allows you to store Key-Value pair( also known as maps, hashtables, associate array).

#creating a telephone directory using dictionary.
dict = {"tom": 802131874345, "rob": 248972376235, "joe": 236482043845}
#Printing a dictionary.
print("Printing a dictionary.")
print(dict)
#Print value using the key.
print('\n')
print("Print value using the key.")
print("Key: Tom, Value:", dict["tom"])
#Adding a new element in the dictionary.
print('\n')
print("Adding a new element in the dictionary.")
dict["sam"]= 63299085726
print(dict)
#Deleting an element.
print('\n')
print("Deleting an element.")
del dict["sam"]
print(dict)
#Print all the directory values.
print('\n')
print("Print all the directory values.")
for key in dict:
   print("Key:", key + ", Value:", dict[key])
#Print all the directory values using a tuple.
print('\n')
print("Print all the directory values using a tuple.")
for key, value in dict.items():
   print("Key:", key + ", Value:", value)
#To check if the  dictionary contains a key.
print('\n')
print("To check if the  dictionary contains a key.")
print("Key 'Tom' present in the dict: ",  "tom" in dict)
#To empty the directory using clear().
print('\n')
print("To empty the directory using clear().")
dict.clear()
print(dict)

Printing a dictionary.
{'tom': 802131874345, 'rob': 248972376235, 'joe': 236482043845}


Print value using the key.
Key: Tom, Value: 802131874345


Adding a new element in the dictionary.
{'tom': 802131874345, 'rob': 248972376235, 'joe': 236482043845, 'sam': 63299085726}


Deleting an element.
{'tom': 802131874345, 'rob': 248972376235, 'joe': 236482043845}


Print all the directory values.
Key: tom, Value: 802131874345
Key: rob, Value: 248972376235
Key: joe, Value: 236482043845


Print all the directory values using a tuple.
Key: tom, Value: 802131874345
Key: rob, Value: 248972376235
Key: joe, Value: 236482043845


To check if the  dictionary contains a key.
Key 'Tom' present in the dict:  True


To empty the directory using clear().
{}

Tuples

In [ ]:
#Tuples are list of values grouped together.
#Tuples are immutable.
#Hetrogenous compenents can be added.

Module

In [ ]:
#Import math Module
print("Working with math module.")
import math
print("Square Root: ")
print(math.sqrt(16))
print("Exponential Power: ")
print(math.pow(2,5))
print("Dir Math: ")
print(dir(math))
print("Math Pi:")
print(math.pi)
print("Math logarithm:")
print(math.log10(100))
print("Using math Floor:")
print(math.floor(2.4))


print("\n")
#Import calender Module
print("Working with Calender Module:")
import calendar
print("Print Month Calendar:")
print(calendar.month(2016, 1))
print("Check if year is leap:")
print(calendar.isleap(2022))
print("Dir/All the functions of the calendar")
print(dir(calendar))

Working with math module.
Square Root:
4.0
Exponential Power:
32.0
Dir Math:
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
Math Pi:
3.141592653589793
Math logarithm:
2.0
Using math Floor:
2


Working with Calender Module:
Print Month Calendar:
    January 2016
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

Check if year is leap:
False
Dir/All the functions of the calendar
['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthlen', 'monthrange', 'nextmonth', 'prcal', 'prevmonth', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']

Working with Json Object

In [ ]:
Book = {}
Book["Tom"] = {
    'name': 'Rob',
    'address':'1 red street, NY',
    'phone': 2587204298652

}
Book["Rob"] = {
    'name': 'Rob',
    'address':'2 red street, NY',
    'phone': 2587204298579

}

#Import json module.
import json
#Add the json object to the json module using "json.dumps()".
print(json.dumps(Book))

{"Tom": {"name": "Rob", "address": "1 red street, NY", "phone": 2587204298652}, "Rob": {"name": "Rob", "address": "2 red street, NY", "phone": 2587204298579}}

Exception Handling

In [ ]:
#Exceptions are errors that occur while executing a program.
#Handling Exception
#1. Zero division error
#2. Convert int to string error
#Exception Handling using Try-Except
x= input("Enter Number 1:")
y= input("Enter Number 2:")
try:
   z= int(x)/ int(y)
except Exception as e:
    print("Exception ocurred: ", e)
    z=None 
print("Division is:", z)

#Zero Divison Error
print("Zero Division Error:")
x= input("Enter Number 1:")
y= input("Enter Number 2:")
try:
   z= int(x)/ int(y)
except ZeroDivisionError as e:
    print("Division by zero exception:")
    z=None 
except exception as e:
  print("Exceprtion Type:", type(e).__name__)
print("Division is:", z)

Enter Number 1:3
Enter Number 2:5
Division is: 0.6
Zero Division Error:
Enter Number 1:2
Enter Number 2:0
Division by zero exception:
Division is: None

Classes and Object

In [ ]:
#Class Example using keyword "Class"
class Human:
# constructor 
     def __init__(self, name, occupation):
      #  Self means the class itself
      self.name= name
      self.occupation = occupation
     
    #  Methods 
     def do_work(self):
        if self.occupation == "tennis player":
          print(self.name, "plays tennis")
        elif self.occupation == "actor":
          print(self.name, "Shoots a film")
     def speaks(self):
       print(self.name, "Says how are you?")

tom = Human("tom cruise", "actor")
tom.do_work()
tom.speaks()

maria = Human("maria sarapova", "tennis player")
maria.do_work()
maria.speaks()

tom cruise Shoots a film
tom cruise Says how are you?
maria sarapova plays tennis
maria sarapova Says how are you?